h1{
    font-family: "Work sans";
    font-weight: 400;
}
.banners{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    top: -50px;
    &__bunner{
        width: 317px;
        height: 100px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 25px;
        padding-right: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
        
        
    }
    &__first{
        background-color: $primary;
        color: white;
        align-items: center;    
        display: f;
        
    }
    &__second{
        background-color: $accent;
        color: $primary;
        display: flex;
        flex-direction: row;
    }
    &__third{
        background-color: $secondary;
        color: white;
    }
}
.h2{
    font-weight: 700;
    text-align: center;
    color: $secondary;
    font-size: 18px;
}
.p1{
    margin-top: 8px;
    font-weight: 400;
    font-size: 32px;
    color: $primary;
    text-align: center;
}
.p2{
    margin-top: 15px;
    color: black;
    font-weight: 400;
    text-align: center;
}
.p3{
    margin-top: 32px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: $secondary;
    margin-bottom: 61px;
}